body{
    margin: 0px;
    padding: 0px;
}
.da, .ds, .ml, .dl, .nlp, .web, .llm{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    font-family: "Afacad";
}
.da h1, .ds h1, .ml h1, .dl h1, .nlp h1, .web h1, .llm h1{
    color: aliceblue;
    margin-top: 80px;
    font-size: 95px;
    letter-spacing: 5px;
}
.da h1:hover, .ds h1:hover, .ml h1:hover, .dl h1:hover, .nlp h1:hover, .web h1:hover, .llm h1:hover{
    color: black;
    cursor: pointer;
}
.da{
    background-color: lightcoral;
}
.ds{
    background-color: lightblue;
}
.ml{
    background-color: lightseagreen;
}
.dl{
    background-color: lightsalmon;
}
.nlp{
    background-color: lightgreen;
}
.web{
    background-color: lightgray;
}
.llm{
    background-color: lightslategray;
}

