body{

    height: 100cm;
    background-color: rgb(238, 238, 238);
}
.nav{
 
    width: 500px;
    height: 45px;
    
    background-color: lightgray;
    font-family: 'Afacad';

    margin-top: 100px;
    margin-left: 512px;
    
    display: flex;
    gap: 100px;
    justify-content: center;
    border-radius: 30px;

   
    box-shadow: 2px 3px 3px black;
   
}
.nav_nav{
    margin-top: 1px;
    padding-top: 9px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
a:hover{
    color:rgb(255, 255, 255);
}

.title_section{
    width: 900px;
    height: 500px;
    
    margin-top: -23px;
    margin-left: 95px;
}
.title_section h1{
    position: absolute;
    font-family: "ubuntu";
    letter-spacing: 30px;
    font-size: 4cm;
    font-weight:bolder;

    text-shadow: 3px 4px 5px lightslategray;
}
.anim_for_title_section{
    position: relative;
    width: 400px;
  
    height: 300px;

    margin-top: -370px;
    margin-left: 1000px;

    display: flex;
    gap: 20px;
}
.anim_for_title_section .odd{
    height: 100%;
    width: 110px;
    background-color: lightblue;

    animation: odd 2.3s forwards;
    transform-origin: 0% 100% 0px;
}
.anim_for_title_section .odd:hover{
    background-color: lightsalmon;
}
@keyframes odd{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

.anim_for_title_section .even{
    height: 100%;
    width: 60px;
    background-color: lightseagreen;
    animation: even 2.3s forwards;
}
.anim_for_title_section .even:hover{
    background-color: lightcoral;
}
@keyframes even{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
}

/*--------------------------------------------------------------------*/

.info_block1{
    width: 700px;
    height: 7.7cm;

    margin-top: 150px;
    margin-left:402px ;
    background-color: lightgray;
    border-radius: 15px;

}
.info_block2{
    width: 700px;
    height: 12.4cm;
    
    margin-top: 65px;
    margin-left:402px ;
    background-color: rgb(3, 3, 64);
    border-radius: 15px;

}

.info_block3{
    width: 700px;
    height: 10.22cm;

    margin-top: 65px;
    margin-left: 402px;
    background-color: lightgray;
    border-radius: 15px;
}
.info_block4{
    width: 700px;
    height: 8.4cm;
    
    margin-top: 65px;
    margin-left:402px ;
    background-color: rgb(3, 3, 64);
    border-radius: 15px;

}
.info_block5{
    width: 700px;
    height: 16.2cm;
    
    margin-top: 65px;
    margin-left:402px ;
    background-color: lightgray;
    border-radius: 15px;

}
.info_block6{
    width: 1000px;
    height: 6cm;
    
    margin-top: 65px;
    margin-left:170px ;
    border-radius: 15px;
}
.info_block6 img{
    margin-top: 25px;
    margin-left: 203px;
}
.info_block6 #tools{
    margin-left: 510px;
}
/*--------------------------------------------------------------------*/
.linked_in{ color: blue; }
.linked_in:hover{ color: crimson;}
.highlighting_skills{
    background-color:rgba(0, 0, 0, 0.45);
    padding: 2px 8px 1px 8px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
}
/*--------------------------------------------------------------------*/
.subTitle{
    color: black;
}
.subTitle1{
    color:aliceblue;
}
.text_style{
    color: black;
    font-family: 'Josefin Sans';
    font-weight: 500;
    line-height: 1.4;
    text-indent: 0px;
}
.text_style1{
    color: aliceblue;
    font-family: 'Josefin Sans';
    font-weight: 500;
    line-height: 1.4;
    text-indent: 0px;
}

/*--------------------------------------------------------------------*/
.desc_links{ /* description links */
    color: crimson;
}

.desc_links:hover{
    color: yellow;
}

.marks{
    color:coral;
}
/*--------------------------------------------------------------------*/
.contacts_line_design{
    width: 32cm;
    height: 0.06cm;
    background-color: black;

    margin-top: 140px;
    margin-left: 150px;
}
.contacts_line_design h2{
    position: absolute;
    margin-top: -15px;
    margin-left: 486px;

    background-color:lightblue;
    padding: 5px 15px 5px 15px;
    letter-spacing: 2px;

    border-radius: 40px;
    
}

.contacts_line_design .contacts{
    position: absolute;
    margin-top: 100px;
    margin-left: 326px;

    display: flex;
    justify-content: center;

    gap: 200px;
}
.contacts_a:hover{ color: black;}

.mail_logo{
    position: absolute;
    margin-top: 240px;
    margin-left: 588px;

    width: 50px;
    height: 50px;
}
.mail_logo a h4{
    margin-top: 3mm;
}

.mail_logo a:hover{ color: black;}



