body{
    background-color: rgb(4, 5, 9);
    height: 18cm;
}
#table_set{
    background-color: rgb(4, 5, 9);

    margin-top:5%;
    margin-bottom:4%;

    margin-left: 14%;
    margin-right: 14%;
}
h2{
    font-size:xx-large;
    font-style:normal;
    font-family: 'Afacad'; 
    color: white;
    padding-top: 4%;
    padding-bottom: 2%;
}

table {
    border-collapse:collapse;
    width: 100%;
    margin-top: 45px;
  }
  
tr {
    border-bottom: 3px solid rgb(0, 0, 0);
  }
#tr_below:hover { background-color:lightgoldenrodyellow; } 

a{ 
  text-decoration: none; 
  color:black;
} 
a:hover { 
  text-decoration: none; 
  color:crimson;
} 